@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import './base.css';
@import "tailwindcss";

@theme {

  /* Font Settings */
  --font-family1: 'Impact', sans-serif;
  --font-family2: 'Futura', sans-serif;
  --font-family3: "Open Sans", sans-serif;

  /* Colors */
  --color-butter-yellow: #fefdef;
  --color-very-light: #efefec;
  --color-very-light-grey: #cccac2;
  --color-very-grey: #837d72;
  --color-very-dark: #1c1713;
}



#app {
  width: 100%;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

body {
  background-color: #FEFDEF;
}


  

@media (min-width: 1024px) {
  
  body {
    display: flex;
  }

  #app {
    display: grid;
    
  }
}
